@model IEnumerable<Restaurant.Models.Pie>
@{
    ViewBag.Title = "Index";

}

    <div class="head">
        <div class="title1">
            <h3> List Of Pies</h3>
        </div>
        <div class="title2">
            @using (Html.BeginForm())
            {
                <p>
                  Search By Name : @Html.TextBox("Search") 
                </p> 
            }
        </div>
    </div>

@foreach (var item in Model) {
<div class="col-sm-4 col-md-4 col-lg-4">
    <img src="@item.ImgUrl" class="thumbnail img-responsive" alt="pies-img" />
    <p>
        <h5>@item.Name</h5>
    </p>
    <h5 class="price" style="text-align:right">@item.Price.ToString("c")</h5>
    <p>@item.Description</p>
</div>
}



